@font-face {
    font-family: "supers";
    src: url("../fuentes/Supernatural_Knight.ttf");
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
.background{
    background-color:#282C30;
}
header{
    display: flex;
}
.supernatural__text p{
    font-family: "supers";
    font-size: 10rem;
    text-align: center;
    text-shadow: 1rem;
    color: #0AE0F2;
    -webkit-text-stroke: 1px black;
}
.container-fluid{
    background-color:#0f8893;
    opacity: 0.8;
}