@font-face {
    font-family: "supers";
    src: url("../fuentes/Supernatural_Knight.ttf");
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header p{
    font-family: "supers";
    font-size: 10rem;
    align-items: center;
    text-shadow: 1rem;
}
