@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "supers";
  src: url("../fuentes/Supernatural_Knight.ttf");
}
/* Este map get está aplicado a las imágenes del carrusel de bootstrap del index.html, está en _images.scss */
/* Mixins aplicados en _flex.scss */
.padre__index {
  display: grid;
  grid-template-areas: "titulo" "cuerpo" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 4fr 0.1fr;
  width: 100%;
}

/* padre personajes.html */
.padre__perso {
  display: grid;
  grid-template-areas: "titulo" "cuerpo" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 4fr 0.1fr;
  width: 100%;
}

/* padre temporadas.html */
.padre__tempo {
  display: grid;
  grid-template-areas: "titulo" "cuerpo" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 12fr 0.1fr;
  width: 100%;
}

/* padre curiosidades.html */
.padre__curo {
  display: grid;
  grid-template-areas: "titulo" "cuerpo" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 4fr 0.1fr;
  width: 100%;
}

/* padre contactanos.html */
.padre__contact {
  display: grid;
  grid-template-areas: "titulo" "cuerpo" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr 0.1fr;
  width: 100%;
}

/* clase del main en todos los html */
.car {
  display: flex;
  flex-direction: column;
  grid-area: cuerpo;
}

/* ubicado en index.html */
.p1 {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(40, 44, 48, 0.8196078431);
  border-radius: 1vw;
  padding: 2vw;
  margin: 0 auto;
  width: 90%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.p2 {
  display: flex;
  flex-direction: row;
  background-color: rgba(40, 44, 48, 0.8196078431);
  border-radius: 1vw;
  padding: 2vw;
  margin: 0 auto;
  width: 90%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/* ubicado en personajes.html */
.per1 {
  background-color: rgba(40, 44, 48, 0.8196078431);
  border-radius: 1vw;
  padding: 2vw;
  display: flex;
  margin: 0 auto;
  width: 90%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.per__imgp {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 100%;
}

/* ubicado en termporadas.html */
.p__tempo {
  display: flex;
  flex-direction: column;
  background-color: rgba(40, 44, 48, 0.8196078431);
  border-radius: 1vw;
  padding: 2vw;
  margin: 0 auto;
  width: 90%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  grid-area: cuerpo;
}

.img__tempo {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* ubicado en curiosidades.html */
.p__curo {
  display: flex;
  flex-direction: column;
  background-color: rgba(40, 44, 48, 0.8196078431);
  border-radius: 1vw;
  padding: 2vw;
  margin: 0 auto;
  width: 90%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  grid-area: cuerpo;
}

/* ubicado en contactanos.html */
.contact {
  display: flex;
  flex-direction: column;
  align-self: center;
  grid-area: cuerpo;
}
.contact__field {
  background-color: rgba(40, 44, 48, 0.8196078431);
  border-radius: 1vw;
  width: 55vw;
  color: #aaaaaa;
  margin: 3vw;
}

header {
  background-color: #282C30;
  grid-area: titulo;
}

/* Corresponde al título del Header de todos los html, excepto index.html */
.supernatural__text {
  font-size: 6vw;
  text-align: center;
  font-family: "supers";
  color: black;
  -webkit-text-stroke: 0.1vw #0f8893;
  text-shadow: 0vw 2vw 1vw rgba(44, 207, 222, 0.474);
  grid-area: titulo;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.supernatural__text a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  -webkit-text-stroke: inherit;
}

/* Corresponde al título del Header de index.html */
.supernatural__text__animacion {
  font-size: 6vw;
  text-align: center;
  font-family: "supers";
  color: black;
  -webkit-text-stroke: 0.1vw #0f8893;
  text-shadow: 0vw 2vw 1vw rgba(44, 207, 222, 0.474);
  grid-area: titulo;
  padding-top: 2vw;
  padding-bottom: 2vw;
  -webkit-animation: supernatural 5s;
          animation: supernatural 5s;
  transition-property: transform;
}
.supernatural__text__animacion a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  -webkit-text-stroke: inherit;
}
@-webkit-keyframes supernatural {
  0% {
    text-shadow: 4vw 3vw rgba(44, 207, 222, 0.474);
    color: rgb(255, 111, 0);
    -webkit-text-stroke: 0.1vw rgb(243, 148, 6);
    text-shadow: 1vw 1vw 8vw rgb(209, 148, 6), 0 0 1em rgb(221, 65, 22), 0 0 0.2em rgb(232, 103, 23);
  }
  20% {
    font-size: 6rem;
    color: rgb(127, 93, 163);
    -webkit-text-stroke: 0.1vw rgb(179, 156, 200);
    text-shadow: 8vw 8vw 8vw rgb(136, 85, 199), 0 0 1em rgb(145, 68, 190), 0 0 0.2em rgb(19, 149, 236);
  }
  40% {
    font-size: 6rem;
    color: rgb(132, 11, 11);
    -webkit-text-stroke: 0.1vw rgb(92, 5, 5);
    text-shadow: 8vw 8vw 8vw rgb(105, 25, 25), 0 0 1em rgb(10, 2, 14), 0 0 0.2em rgb(140, 16, 16);
  }
  60% {
    color: rgb(32, 38, 44);
    -webkit-text-stroke: 0.1vw rgb(199, 202, 234);
    text-shadow: 8vw 8vw 8vw rgb(25, 64, 105), 0 0 1em rgb(246, 249, 251), 0 0 0.2em rgb(251, 251, 251);
  }
  80% {
    color: rgb(20, 69, 84);
    -webkit-text-stroke: 0.1vw #0AE0F2;
    text-shadow: 8vw 8vw 8vw rgb(0, 150, 244), 0 0 1em rgb(0, 255, 247), 0 0 0.2em rgb(4, 242, 255);
  }
  100% {
    -webkit-text-stroke: 0.1vw #0f8893;
    text-shadow: 0vw 2vw 1vw rgba(44, 207, 222, 0.474);
  }
}
@keyframes supernatural {
  0% {
    text-shadow: 4vw 3vw rgba(44, 207, 222, 0.474);
    color: rgb(255, 111, 0);
    -webkit-text-stroke: 0.1vw rgb(243, 148, 6);
    text-shadow: 1vw 1vw 8vw rgb(209, 148, 6), 0 0 1em rgb(221, 65, 22), 0 0 0.2em rgb(232, 103, 23);
  }
  20% {
    font-size: 6rem;
    color: rgb(127, 93, 163);
    -webkit-text-stroke: 0.1vw rgb(179, 156, 200);
    text-shadow: 8vw 8vw 8vw rgb(136, 85, 199), 0 0 1em rgb(145, 68, 190), 0 0 0.2em rgb(19, 149, 236);
  }
  40% {
    font-size: 6rem;
    color: rgb(132, 11, 11);
    -webkit-text-stroke: 0.1vw rgb(92, 5, 5);
    text-shadow: 8vw 8vw 8vw rgb(105, 25, 25), 0 0 1em rgb(10, 2, 14), 0 0 0.2em rgb(140, 16, 16);
  }
  60% {
    color: rgb(32, 38, 44);
    -webkit-text-stroke: 0.1vw rgb(199, 202, 234);
    text-shadow: 8vw 8vw 8vw rgb(25, 64, 105), 0 0 1em rgb(246, 249, 251), 0 0 0.2em rgb(251, 251, 251);
  }
  80% {
    color: rgb(20, 69, 84);
    -webkit-text-stroke: 0.1vw #0AE0F2;
    text-shadow: 8vw 8vw 8vw rgb(0, 150, 244), 0 0 1em rgb(0, 255, 247), 0 0 0.2em rgb(4, 242, 255);
  }
  100% {
    -webkit-text-stroke: 0.1vw #0f8893;
    text-shadow: 0vw 2vw 1vw rgba(44, 207, 222, 0.474);
  }
}

.container-fluid {
  display: flex;
  background-color: #0f8893;
  width: 100%;
}

.ms-5 {
  padding-left: 10vw;
  margin-right: 5vw;
}

.navbar-brand img {
  width: 3vw;
}

/* .sticky-top{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
} */
/* h1 en index.html */
.car__title {
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  font-size: 3.5vw;
  font-style: oblique;
  text-shadow: 0.1vw 0.1vw 0.2vw #282C30;
  -webkit-text-stroke: 0.1vw #0f8893;
}

/* textos presentes en "cards" de index.html */
.p1 p {
  font-size: 1.3vw;
  text-align: start;
  font-weight: bolder;
  color: #aaaaaa;
  font-family: sans-serif;
  padding-right: 2vw;
  align-self: center;
}

.p2 p {
  font-size: 1.3vw;
  text-align: start;
  font-weight: bolder;
  color: #aaaaaa;
  font-family: sans-serif;
  padding-left: 2vw;
  align-self: center;
}

/* ubicado en personajes.html */
h2 {
  text-align: center;
  position: relative;
  padding: 4vw;
  font-weight: bold;
  font-size: 5vw;
  font-family: "supers";
}

/* título de todos los html excepto del index */
.car__pages {
  align-self: center;
  padding: 2vw;
  font-size: 5vw;
  -webkit-text-stroke: 0.1vw #0f8893;
  text-shadow: 0.1vw 0.1vw 0.2vw #282C30;
}

/* subtítulos aplicados en personajes/temporadas/curiosidades.html */
h4 {
  font-size: 2.5vw;
  color: #aaaaaa;
}

/* texto de las "cards" en personajes.html */
.per__imgp p {
  font-size: 1.3vw;
  text-align: start;
  font-weight: bolder;
  color: #aaaaaa;
  font-family: sans-serif;
  padding-right: 2vw;
  align-self: center;
}

/* texto de las "cards" en temporadas.html */
.p__tempo p {
  font-size: 1.3vw;
  text-align: start;
  font-weight: bolder;
  color: #aaaaaa;
  font-family: sans-serif;
  padding: 1vw;
}

/* texto de las "cards" en curiosidades.html */
.p__curo p {
  font-size: 1.3vw;
  text-align: start;
  font-weight: bolder;
  color: #aaaaaa;
  font-family: sans-serif;
  padding: 1vw;
}

/* subtítulo del "fieldset" en contactanos.html*/
.contact legend {
  padding-top: 2vw;
  padding-left: 2vw;
  font-size: 3.5vw;
  text-align: center;
}

/* agradecimientos en contactanos.html */
.thanks {
  text-align: right;
  font-size: 4vw;
  font-family: "supers";
  -webkit-text-stroke: 0.01vw #282C30;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(15, 136, 147, 0.6666666667);
  font-style: oblique;
  padding: 4vw;
  font-weight: bold;
}

/* Imagen de fondo del body */
main {
  background-image: linear-gradient(rgba(110, 110, 110, 0.65), rgba(110, 110, 110, 0.65)), url(../pages/imagenes/imgazul.jpg);
  background-size: 50%;
  grid-area: cuerpo;
}

/* Esta img corresponde al carrusel en index.html */
.car__img {
  border-style: double;
  border-width: 1.5vw;
  align-self: center;
  width: 50vw;
}

/* p1 img y p2 img corresponde a las imágenes "cards" de index.html */
.p1 img {
  border-radius: 1vw;
  width: 300%;
}

.p2 img {
  border-radius: 1vw;
  width: 300%;
}

/* per_imgp img imagenes de "cards" en personajes.html */
.per__imgp img {
  border-radius: 1vw;
}

/* Imágenes en temporadas.html */
.img__tempo img {
  border-radius: 1vw;
  box-shadow: 0 0vw 2vw 1vw rgba(44, 207, 222, 0.474);
  width: 50%;
  margin: 0 auto;
  transition: 1s;
}
.img__tempo img:hover {
  width: 100%;
  transform: scale(1);
  z-index: 2;
}

/* línea presente en todos los html excepto el index */
.car__line {
  border-top: 0.1vw solid #19C8D6;
  height: 0.2vw;
  max-width: 90%;
  padding-top: 4vw;
  margin: 0 auto 0 auto;
}

/* componentes del "fieldset" de bootstrap en contactanos.hmtl */
.mb-3 {
  padding: 2vw;
  width: 100%;
}

.mb-3 textarea {
  height: 20vw;
}

.btn {
  background-color: #19C8D6;
  margin: 3vw;
  font-weight: bold;
  box-shadow: 0 0vw 2vw 1vw rgba(44, 207, 222, 0.204);
}

.foot {
  display: flex;
  flex-direction: row;
  background-color: #0f8893;
  border-style: solid;
  border-color: #0AE0F2;
  justify-content: space-between;
  grid-area: pie;
}
.foot__p {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  font-size: 1.5rem;
  padding: 1vw;
}

.logos {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.logos__li {
  padding: 1vw;
}
.logos__img {
  width: 2.5vw;
}

/* Media screen para celulares */
@media screen and (max-width: 576px) {
  /* body de curiosidades.html */
  .padre__curo {
    grid-template-rows: 0.2fr 5fr 0.1fr;
  }
  /* navbar */
  .navbar-brand img {
    width: 6vw;
  }
  /* título del header en index.html*/
  .supernatural__text__animacion {
    font-size: 10vw;
    -webkit-animation: none;
            animation: none;
  }
  /* título del header en todos los html excepto index.html*/
  .supernatural__text {
    font-size: 10vw;
  }
  /* Imagen de fondo del body */
  main {
    background-size: 76%;
  }
  /* h1 de index.html */
  .car__title {
    font-size: 7vw;
  }
  /* imágenes del carrusel index.html*/
  .car__img {
    width: 80%;
  }
  /* "cards" de index.html */
  .p1 {
    flex-direction: column;
  }
  .p1 img {
    align-self: center;
    width: 70%;
  }
  .p1 p {
    padding: 3vw;
    font-size: 3vw;
  }
  .p2 {
    flex-direction: column;
  }
  .p2 img {
    align-self: center;
    width: 70%;
  }
  .p2 p {
    padding: 3vw;
    font-size: 3vw;
  }
  /* h1 de personajes/temporadas/curiosidades/contactanos.html */
  .car__pages {
    padding: 3vw;
    font-size: 6vw;
  }
  /* h2 de personajes.html */
  h2 {
    font-size: 7vw;
  }
  /* "cards" de personajes.html */
  .per1 {
    flex-direction: column;
  }
  /* h4 de temporadas y curiosidades.html */
  h4 {
    font-size: 4vw;
  }
  /* "cards" de personajes.html */
  .per__imgp {
    flex-direction: column-reverse;
  }
  .per__imgp img {
    width: 40%;
    padding: 3vw;
    margin: 0 auto;
    border-radius: 5vw;
  }
  .per__imgp p {
    font-size: 3vw;
    text-align: start;
  }
  .p__tempo {
    width: 90%;
  }
  .p__tempo p {
    font-size: 3vw;
  }
  /* img de temporadas.html */
  .img__tempo img {
    width: 40%;
  }
  /* texto de curiosidades.html */
  .p__curo p {
    font-size: 3vw;
  }
  /* sección del footer: texto es foot__p p y .logos__img las imágenes de todos los html */
  .foot__p p {
    font-size: 0.9rem;
  }
  .logos__img {
    margin-right: 2vw;
    margin-top: 2vw;
    width: 5vw;
  }
}
/* Media screen para tablets en horizontal */
@media screen and (max-width: 768px) and (min-width: 577px) {
  /* body de curiosidades.html */
  .padre__curo {
    grid-template-rows: 0.2fr 5fr 0.1fr;
  }
  /* navbar */
  .navbar-brand img {
    width: 6vw;
  }
  /* título del header en index.html*/
  .supernatural__text__animacion {
    font-size: 10vw;
  }
  /* título del header en todos los html excepto index.html*/
  .supernatural__text {
    font-size: 10vw;
  }
  /* Imagen de fondo del body */
  main {
    background-size: 76%;
  }
  /* h1 de index.html */
  .car__title {
    font-size: 7vw;
  }
  /* imágenes del carrusel index.html*/
  .car__img {
    width: 80%;
  }
  /* "cards" de index.html */
  .p1 {
    flex-direction: column;
  }
  .p1 img {
    align-self: center;
    width: 70%;
  }
  .p1 p {
    padding: 3vw;
    font-size: 3vw;
  }
  .p2 {
    flex-direction: column;
  }
  .p2 img {
    align-self: center;
    width: 70%;
  }
  .p2 p {
    padding: 3vw;
    font-size: 3vw;
  }
  /* h1 de personajes/temporadas/curiosidades/contactanos.html */
  .car__pages {
    padding: 3vw;
    font-size: 6vw;
  }
  /* h2 de personajes.html */
  h2 {
    font-size: 7vw;
  }
  /* "cards" de personajes.html */
  .per1 {
    flex-direction: column;
  }
  /* h4 de temporadas y curiosidades.html */
  h4 {
    font-size: 4vw;
  }
  /* "cards" de personajes.html */
  .per__imgp {
    flex-direction: column-reverse;
  }
  .per__imgp img {
    width: 40%;
    padding: 3vw;
    margin: 0 auto;
    border-radius: 5vw;
  }
  .per__imgp p {
    font-size: 3vw;
    text-align: start;
  }
  .p__tempo {
    width: 90%;
  }
  .p__tempo p {
    font-size: 3vw;
  }
  /* img de temporadas.html */
  .img__tempo img {
    width: 40%;
  }
  /* texto de curiosidades.html */
  .p__curo p {
    font-size: 3vw;
  }
  /* sección del footer: texto es foot__p p y .logos__img las imágenes de todos los html */
  .foot__p p {
    font-size: 1.2rem;
  }
  .logos__img {
    margin-right: 2vw;
    margin-top: 2vw;
    width: 5vw;
  }
}/*# sourceMappingURL=styles.css.map */