$grisob: #282C30;
$celesob: #0f8893;
$celescl: #0AE0F2;
$celeslinea:#19C8D6;
$celesshadow: #0f8893aa;
$grisdegra:#282c30d1;
$griscla:#aaaaaa;
$black: black;
$shadowtittleimg:rgba(44, 207, 222, 0.474);