/* Este map get est치 aplicado a las im치genes del carrusel de bootstrap del index.html, est치 en _images.scss */
$car_img_styles: (
    borde: double,
    tborde: 1.5vw,
    lugar: center,
    tama침o: 50vw,
)
