/* Este map get está aplicado a las imágenes del carrusel de bootstrap del index.html, está en _images.scss */
$car_img_styles: (
    borde: double,
    tborde: 1.5vw,
    lugar: center,
    ancho: 50vw,
)
