/* clase del main en todos los html */
.car{
    @include flex-column;
    grid-area: cuerpo;
}
/* ubicado en index.html */
.p1{
    @include flex-rowreverse;
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.p2{
    @include flex-row;
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
/* ubicado en personajes.html */
.per1{
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.per__imgp{
    @include flex-rowreverse;
    margin: 0 auto;
    width: 100%;
}
/* ubicado en termporadas.html */
.p__tempo{
    @include flex-column;
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    grid-area: cuerpo;
}
.img__tempo{
    @include flex-column;
    align-self: center;
}
/* ubicado en curiosidades.html */
.p__curo{
    @include flex-column;
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    grid-area: cuerpo;
}
/* ubicado en contactanos.html */
.contact{
    @include flex-column;
        align-self: center;
        grid-area: cuerpo;

        &__formulario{
            background-color: $grisdegra;
            border-radius: 1vw;
            width: 55vw;
        }
        &__field{
            color: $griscla;
            margin: 3vw;

    }
}