/* clase del main en todos los html */
.car{
    display: flex;
    flex-direction: column;
    grid-area: cuerpo;
}
/* ubicado en index.html */
.p1{
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.p2{
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
/* ubicado en personajes.html */
.per1{
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.per__imgp{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 100%;
}
/* ubicado en termporadas.html */
.p__tempo{
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    grid-area: cuerpo;
}
.img__tempo{
    display: flex;
    flex-direction: column;
    align-self: center;
}
/* ubicado en curiosidades.html */
.p__curo{
    background-color: $grisdegra;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    grid-area: cuerpo;
}
/* ubicado en contactanos.html */
.contact{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: $grisdegra;
    border-radius: 1vw;
    width: 80vw;
    color: $griscla;
    grid-area: cuerpo;
    margin: 3vw;
}